.mobile_menu{
	display: none;
}
@media(min-width: 320px) and (max-width: 1279px){
	.mobile_menu{
	display: block;
}
.mobile_menu{
	position: fixed;
    top: 0;
    height: 100px;
    background-color: #fff;
    z-index: 1000;
    width: 100%;
    padding: 20px 3px;
}
.InLogSec img{
	width: 189px;
}
#corona{
    position: fixed;
    top: 100px;
    z-index: 100;
    width: 100%;
    height: 42px;
}

/*-------------nav toggle button--------*/


.navToggle {
  position: absolute;
  width: 30px;
  height: 60px;
  top: 20px;
  right: 18px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.navToggle:hover {
  cursor: pointer;
}
.navToggle .icon-left {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: absolute;
  height: 2px;
  top: 25px;
  width: 12px;
  background-color: rgba(0, 0, 0, 0.87);
}
.navToggle .icon-left:before {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: absolute;
  width: 12px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.87);
  content: "";
  top: -9px;
}
.navToggle .icon-left:after {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: absolute;
  width: 12px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.87);
  content: "";
  top: 9px;
}
.navToggle .icon-right {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: absolute;
  height: 2px;
  top: 25px;
  width: 12px;
  background-color: rgba(0, 0, 0, 0.87);
  left: 12px;
}
.navToggle .icon-right:before {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: absolute;
  width: 12px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.87);
  content: "";
  top: -9px;
}
.navToggle .icon-right:after {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: absolute;
  width: 12px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.87);
  content: "";
  top: 9px;
}
.navToggle.open .icon-left {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  background: transparent;
}
.navToggle.open .icon-left:before {
  -webkit-transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
          transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
}
.navToggle.open .icon-left:after {
  -webkit-transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
          transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
}
.navToggle.open .icon-right {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  background: transparent;
}
.navToggle.open .icon-right:before {
  -webkit-transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
          transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
}
.navToggle.open .icon-right:after {
  -webkit-transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
          transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
}
/*-------------nav toggle button--------*/

.MenuShow{
	position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
    left: 0;
    top: 92px;
        padding: 50px 15px;
    border-top: 2px solid #ddd;
    opacity: 0;
    display: none;
    transition: 0.3s all;
}
.MenuShow li{
	list-style: none;
	margin-bottom: 18px;
}
.MenuShow li a{
  color: #323338;
  font-size: 16px;
    text-transform: uppercase;
    display: block;
}
.MenuShow ul{
  margin: 0px;
}
.PosLi{
  position: relative;
}
.PosLi:after {
    font-family: streamline;
    content: "";
    color: #8c8d91;
    position: absolute;
    right: 0;
    top: 0;
    font-weight: 400;
}
.InMenuShow{
  position: relative;
}
.SubMen{
  position: fixed;
  top: 93px;
  border-top: 2px solid #72bbe7;
  width: 100%;
  height: 100%;
  right: -100%;
  z-index: 1000;
  background-color: #fff;
  padding: 50px 15px;
  transition: 0.3s all;
}
.Bck{
    font-weight: 600;
    padding-bottom: 8px;
    display: block;
    border-bottom: 1px solid #ddd;
    margin-bottom: 28px;
    color: #989898 !important;
}
.TagHedLin{
      font-size: 20px !important;
    font-weight: 600;
    margin-bottom: 22px;
    display: block;
}
.Opc1{
  opacity: 1;
  display: block;
}

}