body {
         font-family: 'PT Sans', sans-serif;
         }
         dl.variation, dl.variation p
         {  font-size: .875rem !important;
         letter-spacing: 1px;
         line-height: 16px;
         margin-bottom: 2%; 
         }
         .order-total .amount::before { 
         content: "AUD";
         margin-bottom:20%;
         padding-right:2px;
         font-size:80%;
         }
         .order-total .includes_tax .amount::before { 
         content: "";
         margin-bottom:0;
         padding-right:0px;
         font-size:100%;
         }
         .woocommerce-checkout .checkout-submit-button .disclaimer {
         -webkit-box-sizing: content-box;
         -moz-box-sizing: content-box;
         box-sizing: content-box;
         width: auto;
         padding: 28px;
         overflow: hidden;
         border: 2px solid #eee;
         text-align: left;
         -o-text-overflow: ellipsis;
         text-overflow: ellipsis;
         margin-top: -15px;
         }
         .woocommerce-checkout .checkout-submit-button p:first-child:before{
         content: 'Terms & Conditions \A';
         white-space: pre; /* or pre-wrap */
         color: #261c02;
         cursor: pointer;
         font-weight: 700;
         line-height: 2.2;
         margin-bottom: 0;
         text-transform: uppercase;
         margin-bottom:15px;
         }
         .datagrid table { 
         border-collapse: collapse; 
         text-align: left; 
         width: 100%; } 
         .datagrid {
         overflow: hidden; 
         }
         .datagrid table td, .datagrid table th { 
         padding: 10px 10px; 
         }
         .datagrid table tbody td { 
         }
         .datagrid table tbody .alt td { background: #E1EEF4; 
         color: #00496B; 
         }
         .datagrid table tbody td:first-child { 
         border-left: none; 
         }
         .datagrid table tbody tr:last-child td {
         border-bottom: none; 
         }


  
  .ul-list{
    
     list-style-type: none;
     display: block;
     margin:0px;
     position: relative;
     padding: 0px;

  }
.custom-back{

  background:#04244a;
  padding: 40px;

}

.custom-back-back{
  background:#04244a;
  padding: 40px;

}

.li-list{
  list-style-type: none;
  color: #909195;
  display: block;
  margin:0px;
  line-height:33px;
}

.text-white-new{

  color:#909195;
  font-size: 19px;
}


.small-address{

  font-size:17px;
  color:#909195;
}

.footer-link{

  color:#909195;
}

.footer-link:hover{

  color:#909195;
}


.subscribe-social .icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 2.2rem;
    color: inherit;
}


.icon {
    font-family: 'streamline' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: #34aff1;
    line-height: inherit;
}

.subscribe-social .icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 2.2rem;
    color: inherit;
}
.subscribe-social .icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 2.2rem;
    color: inherit;
}
.icon {
    font-family: 'streamline' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 3px;
}

.mt{margin-top: 13px;}
.iBridge{

  color: #34aff1;
}

.iBridge:hover{

  color: #34aff1;
}

.inline-inline-links{

  font-size:20px !important;
  padding: 10px;
}
.pipes{

  font-size:20px;
}


.inline-links{

  padding:112px;
  padding-bottom: 10px;
}

.instaf{


  line-height: 32px !important;
}

.instagram, .youtube{

    position: relative;
    top: 9px;
}


.instagram:before {
    content: "\f16d";
    line-height: 23px;
}

.youtube:before {
    content: "\f16d";
    line-height: 23px;
}

.padding{

  position: relative;
  bottom:10px;
}


.footer-link:first-child{

  padding-left:0px;
}


.page-banner .page-banner-social a {
    font-size: 2.2rem !important;
}


@media only screen and (max-width: 768px){

.text-center{

  padding-top:20px;
}

}


@media only screen and (max-width: 600px){

.text-center{

  padding-top:20px;
}

.inline-links {
    padding: 0px;
    padding-bottom: 10px;
}

.icon{

  text-align: center !important;
}

.text-left{

  
    position: relative;
    left: 0px !important;
}


}
.content-block-content2{
  padding: 80px 20px !important;
  float: left;
  margin-bottom: 0px !important;
}

@media only screen and (max-width: 1440px){

.content-block-content2{
  padding: 40px 20px !important;
  float: left;
  margin-bottom: 0px !important;
}

}


.sub-title1{
  color: #fff;
  font-size: 1.75rem !important;
  font-weight: 500;
  text-transform: uppercase;
  clear: both;
  margin-bottom: 0px !important;

}
.sub-title2{
  color: #fff;
  font-size: 1.75rem !important;
  font-weight: 500;
  text-transform: uppercase;
  clear: both;
  margin-bottom: 0px !important;

}
.content-block-full-backdrop1 {
    background-size: cover;
    text-align: center;
    /* position: relative; */
    width: 100%;
  }
  .title1{
    clear: both;
    margin-bottom: 0px !important;
  }

  .text1{
    color: #fff;
  }
  dl.variation, dl.variation p
            {  font-size: .875rem !important;
            letter-spacing: 1px;
            line-height: 16px;
            margin-bottom: 2%; 
            }
            .order-total .amount::before { 
            content: "AUD";
            margin-bottom:20%;
            padding-right:2px;
            font-size:80%;
            }
            .order-total .includes_tax .amount::before { 
            content: "";
            margin-bottom:0;
            padding-right:0px;
            font-size:100%;
            }
            .woocommerce-checkout .checkout-submit-button .disclaimer {
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
            width: auto;
            padding: 28px;
            overflow: hidden;
            border: 2px solid #eee;
            text-align: left;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            margin-top: -15px;
            }
            .woocommerce-checkout .checkout-submit-button p:first-child:before{
            content: 'Terms & Conditions \A';
            white-space: pre; /* or pre-wrap */
            color: #261c02;
            cursor: pointer;
            font-weight: 700;
            line-height: 2.2;
            margin-bottom: 0;
            text-transform: uppercase;
            margin-bottom:15px;
            }
            .datagrid table { 
            border-collapse: collapse; 
            text-align: left; 
            width: 100%; } 
            .datagrid {
            overflow: hidden; 
            }
            .datagrid table td, .datagrid table th { 
            padding: 10px 10px; 
            }
            .datagrid table tbody td { 
            }
            .datagrid table tbody .alt td { background: #E1EEF4; 
            color: #00496B; 
            }
            .datagrid table tbody td:first-child { 
            border-left: none; 
            }
            .datagrid table tbody tr:last-child td {
            border-bottom: none; 
            }
            .mar-3rem{
              margin: 3rem 0px !important;
            }
            .button:hover{
         text-decoration: none;
      }
      .button:focus{
         text-decoration: none;
      }
      a:hover{
         text-decoration: none;
      }
      a:focus{
         text-decoration: none;
      }


      @media screen and (min-width: 1920px){
            .content-block-image{
                height: 700px !important;
                background-position: center !important;
            }
            .page-banner .page-banner-content h1 span{     margin-top: 120px;}
        }
        @media only screen and (min-width: 768px) and (max-width: 1024px){
            .content-block-left-image-content .content-block-image{
               background-position: center !important;
               height: 600px !important;
               min-height: 600px !important;
            }
            .content-block-content-right-image .content-block-image,
            .content-block-left-image-content .content-block-image{
                width: 100%;
            }
            .content-block-left-image-content .content-block-content-wrap{
                width: 100%;
            }
        }

        .showcase-box-title {
                      font-size: 1.525rem;
                      color: #000;
                      font-weight: 700;
                      padding: 0 5% 5px;
                      text-transform: uppercase;
                      line-height: 30px;
                      letter-spacing: 1px;
                      /* text-shadow: 0 0 10px #000, 0 0 10px #000, 0 0 10px #000; */
                      transition: text-shadow .6s;
                      margin: 8px;
                  }
                  .small-desc{
                    font-size: 1rem !important;
                    display: block !important;
                  }
                  .mt-content{
                    margin-top: 35px !important;
                  }
                  .shake:hover {
                    width: auto;
                    height: auto;
                    position: relative;
                    -webkit-animation-name: example;
                    -webkit-animation-duration: 2s;  
                    -webkit-animation-iteration-count: infinite;
                    -webkit-animation-delay: 0s;
                    animation-name: example;
                    animation-duration: 2s;  
                    animation-iteration-count: infinite;
                    animation-delay: 0s;
                  }
                  .boxer{
                    width:130px;
                  }
                  /* Safari 4.0 - 8.0 */


                  @-webkit-keyframes example {
                    0%{ transform: rotate(0deg);}
                    10%{ transform: rotate(-5deg);}
                    20%{ transform: rotate(5deg);}
                    30%{ transform: rotate(0deg);}
                    40%{ transform: rotate(0deg);}
                    50%{ transform: rotate(-5deg);}
                    60%{ transform: rotate(5deg);}
                    70%{ transform: rotate(0deg);}
                    80%{ transform: rotate(0deg);}
                    90%{ transform: rotate(-5deg);}
                    95%{ transform: rotate(5deg);}
                    100%{ transform: rotate(0deg);}
                    
                    
                  }
                  @keyframes example {
                    0%{ transform: rotate(0deg);}
                    10%{ transform: rotate(-5deg);}
                    20%{ transform: rotate(5deg);}
                    30%{ transform: rotate(0deg);}
                    40%{ transform: rotate(0deg);}
                    50%{ transform: rotate(-5deg);}
                    60%{ transform: rotate(5deg);}
                    70%{ transform: rotate(0deg);}
                    80%{ transform: rotate(0deg);}
                    90%{ transform: rotate(-5deg);}
                    95%{ transform: rotate(5deg);}
                    100%{ transform: rotate(0deg);}
                    
                    
                  }
                  @keyframes example1 {
                    0%{ transform: rotate(0deg);}
                    10%{ transform: rotate(-5deg);}
                    20%{ transform: rotate(5deg);}
                    30%{ transform: rotate(-5deg);}
                    40%{ transform: rotate(5deg);}
                    50%{ transform: rotate(-5deg);}
                    60%{ transform: rotate(5deg);}
                    70%{ transform: rotate(-5deg);}
                    80%{ transform: rotate(5deg);}
                    90%{ transform: rotate(-5deg);}
                    95%{ transform: rotate(5deg);}
                    100%{ transform: rotate(0deg);}
                    
                    
                  }


                   .container-card {
                                  position: relative;
                                  width: 100%;
                                }

                                .bg-images {
                                  display: block;
                                  width: 100%;
                                  height: 300px;
                                }

                                .overlay-text {
                                  position: absolute; 
                                  bottom: 0; 
                                  background: rgb(0, 0, 0);
                                  background: rgba(0, 0, 0, 0.74); /* Black see-through */
                                  color: #f1f1f1; 
                                  width: 100%;
                                  transition: .5s ease;
                                  opacity:1;
                                  color: white;
                                  font-size: 18px;
                                  padding: 0px 20px 20px 20px;
                                  text-align: center;
                                }
                                .overlay-text .event-static{
                                  font-size: 12px;
                                    line-height:3;
                                    color: #d4d4d4;
                                }

                                .date-box {
                                  transition: .5s ease;
                                  opacity: 1;
                                  position: absolute;
                                  top: 15%;
                                  left: 85%;
                                  transform: translate(-50%, -50%);
                                  -ms-transform: translate(-50%, -50%);
                                  text-align: center;
                                }

                                .text-date {
                                  background-color: #ddd;
                                  color: #000;
                                  font-size: 16px;
                                  padding: 2px 16px;
                                }
                                .text-date .date-num{
                                  font-size:22px;
                                }


                                .modal1 {
                display: none; /* Hidden by default */
                position: fixed; /* Stay in place */
                z-index:99999999 !important; /* Sit on top */
                padding-top: 100px; /* Location of the box */
                left: 0;
                top: 0;
                width: 100%; /* Full width */
                height: 100%; /* Full height */
                overflow: auto; /* Enable scroll if needed */
                background-color: rgb(0,0,0); /* Fallback color */
                background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
              }

              /* Modal Content */
              .modal-content1 {
                background-color: #fefefe;
                margin: auto;
                padding: 20px;
                border: 1px solid #888;
                width: 80%;
              }

              /* The Close Button */
              .close1 {
                color: #aaaaaa;
                float: right;
                font-size: 28px;
                font-weight: bold;
              }

              .close1:hover,
              .close1:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
              }
              .calendar-inner h1 span {
                  background: #fff;
                  padding: 0 20px;
                  text-align: center;
                }
                .calendar-inner h1+* {
                  border-top: solid 2px #000;
                  padding-top: 57px;
                  margin-top: -57px;
                }
                .calendar-inner h1{
                  text-align: center;
                }
                .calendar-section{
                width: 75%;
                margin: 0 auto;
                margin-bottom: 100px;
                
              }
              #calendar-section{
                display: none;
              }
              .toggle-btn{
                display: block;
                margin: 0 auto;
                margin-bottom: 80px;
              }
              #calendar-container {
            /*position: fixed;*/
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
          }

          .fc-header-toolbar {
            /*
            the calendar will be butting up against the edges,
            but let's scoot in the header's buttons
            */
            padding-top: 1em;
            padding-left: 1em;
            padding-right: 1em;
          }
            @media (max-width: 600px){
              .calendar-section{
                width: 100%;
                margin: 0 auto;
              }
              .calendar-inner h1+* {
                margin-top: -44px !important;
                padding-top: 15px !important;
              }
              .fc-left, .fc-center, .fc-right{
                margin: 10px 0;
              }
              .modal1 {
                
                padding-top: 80px;
              }


            }

            .fl-r{
              float: right;
            }
            .fl-right{
              width: 50% !important;
              float: right;
              display: inline-block;
            }
            .fl-left{
              width: 50% !important;
              float: left;
              display: inline-block;
            }
            .wd-full{
              width: 80% !important;
            }
            @media (max-width: 1500px) and (min-width: 800px){
                        .desk-wd{
                          width: 80% !important;
                        }
                      }

            @media (max-width: 600px ){
              .fl-r{
                float: none;
              }
              .fl-right{
                width: 100% !important;
                display: block;
              }
              .fl-left{
                 width: 100% !important;
                 display: block;
              }
              .wd-full{
                width: 100% !important;
              } 
            }


            .insta-image{
        width:50%;
        }
        .insta-image:nth-of-type(3){
        width: 10px;
        }
        #instafeed{
        max-width: 100%;
        }
        @media only screen and (min-width: 40.0625em){
        .insta-image {
        /*width: 33.333333%;*/
        width: 25%;
        }
        
        }
        /*@media only screen and (min-width: 64.0625em){
        .insta-image {
        width: 25%;
        }
        }*/
        @media only screen and (max-width: 533px){
        .bg-image{
        background-position: 0 100px !important;
        }
        }
        @media only screen and (max-width: 414px){
        .bg-image{
        background-position: -60px 100px !important;
        }
        }
        @media only screen and (max-width: 320px){
        .bg-image{
        background-position: 50% 80px !important;
        }
        }